{
  "presets": [
    [
      "latest",
      {
        "loose": true,
        "modules": false
      }
    ],
    "stage-0",
    "stage-3",
    "react"
  ],
  "plugins": [
    [
      "universal-import",
      {
        "disableWarnings": true
      }
    ],
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [["latest", { "modules": true }], "stage-0", "stage-3", "react"]
    }
  }
}
