# dependencies
node_modules

# testing
coverage

# production
dist
lib

*.log
.DS_Store
examples/*/yarn.lock

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
.esm-cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editors
.idea
.vscode
.history

# Editorconfig (for now)
.editorconfig

# cordova
platforms
plugins
www
