yarn-error.log*
yarn-debug.log*
npm-debug.log*
node_modules
lib
examples/*/yarn.lock
examples/*/gitignore
docs-dist
dist
coverage
*/cordova/www
*/cordova/plugins
*/cordova/platforms
*.log
.vscode
.idea
.history
.esm-cache
.env.test.local
.env.production.local
.env.local
.env.development.local
.editorconfig
.DS_Store








