.DS_Store
.editorconfig
.env.development.local
.env.local
.env.production.local
.env.test.local
.esm-cache
.history
.idea
*.tgz
.vscode
*.log
*/cordova/platforms
*/cordova/plugins
*/cordova/www
coverage
dist
lib
docs-dist
examples/*/gitignore
examples/*/yarn.lock
node_modules
npm-debug.log*
package-lock.json
tmp
yarn-debug.log*
yarn-error.log*
packages/*/node.api.js
packages/*/browser.api.js