!/src/index.d.ts
.DS_Store
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.esm-cache
.github
.history
*.log
*.sketch
*/cordova/platforms
*/cordova/plugins
*/cordova/res
*/cordova/www
/coverage
/examples/*/dist
/examples/*/package-lock.json
/examples/*/yarn.lock
/src
/test
docs-dist/ 
docs/
node_modules
npm-debug.log*
templates/.DS_Store
templates/.history
templates/.log
templates/.tgz
templates/dist
templates/node_modules
templates/tmp
templates/yarn.lock
tmp/
yarn-debug.log*
yarn-error.log*
