/* global styles */
body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}
main {
  max-width: 650px;
  margin: 32px auto;
  padding: 0 24px;
}
a {
  color: deepskyblue;
  text-decoration: none;
}
article {
  margin: 0 auto;
  max-width: 650px;
}

/* Header */
.header-header {
  padding: 24px 32px;
  margin-bottom: 32px;
  text-align: center;
}
.header-h1 {
  font-weight: 100;
}
.header-nav {
  max-width: 650px;
  margin: 0 auto;
}
.header-link {
  font-size: 18px;
  margin-right: 16px;
}
.header-link.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Home */
.home-ul {
  padding: 0;
}
.home-li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 5px;
}
.home-li:hover {
  box-shadow: 1px 1px 5px #999;
}
.home-link {
  display: flex;
  color: #000;
}
.home-placeholder {
  background-color: #eee;
  min-width: 100px;
  margin-right: 24px;
}
.home-img {
  display: block;
  height: 100%;
}

/* Post */
.placeholder {
  height: 366px;
  background-color: #eee;
}

/* About page */
.about-header {
  text-align: center;
}
.about-avatar {
  height: 120px;
  width: auto;
}
.about-author {
  margin-bottom: 72px;
}
